<!DOCTYPE HTML>
<html lang="en">

<head>

  <title>Tiny House</title>
  <meta charset="UTF-8" />

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1" />




  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/site.webmanifest">


</head>

<body>



      <header id="topHeader" onclick="openNav()">
        <div></div>
        <h3>Mark Edwardson | Design Portfolio</h3>

        <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
        <div></div>
      </header>

      <header id="mainHeader" onclick="openNav()">
        <div></div>
        <h3>Mark Edwardson | Design Portfolio</h3>

        <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
        <div></div>
      </header>


  <nav id="menu">
  <div onclick="closeNav()"><h5 class="menu-text close"  id="closeButton" >&times;</h5></div>
  <a href="/"><h5 class="menu-text">Home</h5></a>
  <a href="/projects"><h5 class="menu-text">Projects</h5></a>
  <a href="/about"><h5 class="menu-text">About & Resume</h5></a>
  <div></div>

  </nav>

  <section class="cover-image grid style1" id="house">

    <h1 class="align-center">Tiny House</h1>
    <div></div>
  </section>


  <section class="divider-large">



  </section>

  <section class="align-center">
    <h2>An exploration into the fundamentals of housing construction.</h2>
    <br>
    <h2><a class="link-special" href="https://drive.google.com/open?id=1OCNY3MlPWusBKRzUg1ZA5SR-v-YbuniJ">View the entire drawing set.</a></h2>
  </section>

  <Section class="divider-large"></section>

  <section class="container grid style1">


    <div>

      <h3>Building a small house.</h3>

  This was a technically challenging project that involved several different constraints:
  <ul><li>Size: the house must be under 1000 sqare meters.</li>
  <li>Terrain: model a challenging terrain and design a house around it.</li>
  <li>User constraints: imagine a user and his lifestyle.</li>
  <li>Materials: the materials should be local and astetically pleasing.</li>
</ul>
    </div>

    <img class="full-height-image" alt="house exterior" src="../static/images/house2.webp">
  </section>

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house exterior" src="../static/images/house3.webp">


  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <section class="container align-center">

    <h3>Efficient and Attractice</h3><br>
    <p>Inspired by both the Usonian style in the Eastern US and local BC construction styles and techniques, the house is minimalist but cozy, featuring wood for the solid walls while using floor-to-cieling windows to provide ample natural light. Exposed wood beams highlight, not hide, the structural elements of the house.</p>

  </section>

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="side of house" src="../static/images/house4.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <section class="container align-center">

    <h3>Zen Landscaping</h3><br>
    <p>The landscaping of the house accentualized the minimalism of the house, while providing shade and colour to the souroundings.
</p>
  </section>
  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house at night" src="../static/images/house5.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <Section class="container align-center">

    <h3>Terrain Modeling</h3><br>
    <p>I took advantage of Vectorworks Landscape tools to model a realistic terrain for the house to be constructed on.
    </p>
  </section>
  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house" src="../static/images/house6.webp">


  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house" src="../static/images/house7.webp">
  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house" src="../static/images/house8.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house" src="../static/images/house9.webp">


  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house" src="../static/images/house10.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house" src="../static/images/house11.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <!--<section class="align-center">
    <iframe class="embedded-video" height="100%" width="50%" allowfullscreen="true" src="https://momento360.com/e/u/9faa71079fc1403888cfd61c179646ad?utm_campaign=embed&utm_source=other&heading=0&pitch=0&field-of-view=75"> </iframe>
  </section>-->
  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <footer id="footer">

    <div class="container align-center"><br>
      <a class="para1 icon" href="mailto:m.edwardsonx@gmail.com"><span class="icon fa-envelope-o"></span></a>
      <p class="para1"><br><br>&copy; 2020 Mark Edwardson. All rights reserved.</p>
    </div>


  </footer>


  <script src="../static/js/script.js"></script>
</body>


</html>
