<!DOCTYPE HTML>
<html lang="en">

<head>

  <title>Mark Edwardson</title>
  <meta charset="UTF-8" />

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1" />




  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/site.webmanifest">


</head>

<body>



      <header id="topHeader" onclick="openNav()">
        <div></div>
        <h3>Mark Edwardson | Design Portfolio</h3>

        <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
        <div></div>
      </header>

      <header id="mainHeader" onclick="openNav()">
        <div></div>
        <h3>Mark Edwardson | Design Portfolio</h3>

        <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
        <div></div>
      </header>


  <nav id="menu">
  <div onclick="closeNav()"><h5 class="menu-text close"  id="closeButton" >&times;</h5></div>
  <a href="/"><h5 class="menu-text">Home</h5></a>
  <a href="/projects"><h5 class="menu-text">Projects</h5></a>
  <a href="/about"><h5 class="menu-text">About & Resume</h5></a>
  <div></div>

  </nav>

  <section class="cover-image grid style1" id="keyboard">

    <h1 class="align-center">keyboard</h1>
    <div></div>
  </section>


  <section class="divider-large">



  </section>

  <section class="align-center">
    <h2>Keyboard</h2>

  </section>

  <Section class="divider-large"></section>

  <section class="container grid style1">


    <div>
      <h3>Slow your typing down.</h3><br>
      <p>
Sometimes, we need a break. Take more time to write your urgent words, and instead take in the beauty of the tools around you. Using the not-original QWERTY layout, this brilliant keyboard slows your typing down to allow you to relax and enjoy typing for as long as possible.
<br><br>
Whatever you're writing isn't important. Slow it down.</p>
    </div>

    <img class="full-height-image" alt="house exterior" src="../static/images/keyboard2.webp">
  </section>

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house exterior" src="../static/images/keyboard3.webp">


  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <section class="container align-center">

    <h3>Easy to make, hard to use.</h3><br>
    <p>
The default blank texture and imported Generic Vectorworks Texture Chrome melds together to create a sleek, elegant keyboard.

<br>
Resemblance to imac keyboard not purely coincidental. (I just modeled the keyboard that's in front of me!)
</p>

  </section>

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="side of house" src="../static/images/keyboard4.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <footer id="footer">

    <div class="container align-center"><br>
      <a class="para1 icon" href="mailto:m.edwardsonx@gmail.com"><span class="icon fa-envelope-o"></span></a>
      <p class="para1"><br><br>&copy; 2020 Mark Edwardson. All rights reserved.</p>
    </div>


  </footer>


  <script src="../static/js/script.js"></script>
</body>


</html>
