<!DOCTYPE HTML>
<html lang="en">

<head>

  <title>Mark Edwardson</title>
  <meta charset="UTF-8" />

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1" />




  <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
  <link rel="manifest" href="../static/favicon/site.webmanifest">


</head>

<body>



      <header id="topHeader" onclick="openNav()">
        <div></div>
        <h3>Mark Edwardson | Design Portfolio</h3>

        <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
        <div></div>
      </header>

      <header id="mainHeader" onclick="openNav()">
        <div></div>
        <h3>Mark Edwardson | Design Portfolio</h3>

        <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
        <div></div>
      </header>


  <nav id="menu">
  <div onclick="closeNav()"><h5 class="menu-text close"  id="closeButton" >&times;</h5></div>
  <a href="/"><h5 class="menu-text">Home</h5></a>
  <a href="/projects"><h5 class="menu-text">Projects</h5></a>
  <a href="/about"><h5 class="menu-text">About & Resume</h5></a>
  <div></div>

  </nav>

  <section class="cover-image grid style1" id="watercourse">

    <h1 class="align-center">Watercourse</h1>
    <div></div>
  </section>


  <section class="divider-large">



  </section>

  <section class="align-center">
    <h2>Water flowing through your chair.</h2>


  </section>

  <Section class="divider-large"></section>

  <section class="container grid style1">


    <div>
<p>Inspired by the flowing of a river, this masterful chair captures the essence of the harmonics of the natural flow of alpine water. Polished aluminum melds with the wood in a powerful statement that brings you mental peace and exalts your inner state of mind.</p>

    </div>

    <img class="full-height-image" alt="house exterior" src="../static/images/watercourse2.webp">
  </section>

  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="house exterior" src="../static/images/watercourse3.webp">


  <div class="divider-large"></div>
  <div class="divider-large"></div>

  <img class="full-height-image" alt="side of house" src="../static/images/watercourse4.webp">

  <div class="divider-large"></div>
  <div class="divider-large"></div>

    <img class="full-height-image" alt="side of house" src="../static/images/watercourse5.webp">

    <div class="divider-large"></div>
    <div class="divider-large"></div>

  <footer id="footer">

    <div class="container align-center"><br>
      <a class="para1 icon" href="mailto:m.edwardsonx@gmail.com"><span class="icon fa-envelope-o"></span></a>
      <p class="para1"><br><br>&copy; 2020 Mark Edwardson. All rights reserved.</p>
    </div>


  </footer>


  <script src="../static/js/script.js"></script>
</body>


</html>
