assets/resume/Mark Edwardson - CV.aux
assets/resume/Mark Edwardson - CV.fdb_latexmk
assets/resume/Mark Edwardson - CV.fls
assets/resume/Mark Edwardson - CV.log
assets/resume/Mark Edwardson - CV.out
assets/resume/Mark Edwardson - CV.synctex.gz
