.body
{
    background-image:url('https://i.imgur.com/K4pHuXh.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
     background-color: white;
background-size: cover;
z-index: 1;
margin: 0 auto;
height: 100%;
width: 100%;
}

ul {
  margin: 0px auto;
  padding: 0 20px;
  text-align: center;

height: 60px;
padding-top: 40px;
}

li {

  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 200px;

}

.menu {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}

.bar {
     margin: 0px auto;
  padding-top: 0px;
  padding-bottom: 30px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);

height: 60px;
width:100%;
z-index: 2;


}

html, body {
    margin: 0;
    padding: 0;
}
