body {
  background-color: blue;

}

body, html {
height: 100%;
}
.bg { 
    /* The image used */
    background-image: url(""https://images8.alphacoders.com/421/thumb-1920-421337.jpg"");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

li {
display: block-inline;
}