body
{
    background-image:url('https://image.ibb.co/h1Bzfn/Hyperbolic_Studios_Banner2.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
     background-color: white;
background-size: cover;
z-index: 1;
margin: 0 auto;
} 

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;

}

li {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 200px;
  
  
}

.menu {
    text-decoration: none;
    color: black;
    font-family: Helvetica;
}